<div class="container">
  <section id="stc1">
    <div class="game">
      <img src="../../../assets/game1.png" alt="">
      <div class="gameMobiles">
        <p>Give this pint-sized adventure a try with a free demo</p>
        <div class="btnFotter">
          <button class="shakeButton">Try the demo!</button>
        </div>
      </div>
    </div>

    <footer>
      <p>Give this pint-sized adventure a try with a free demo</p>
      <div class="btnFotter">
        <button class="shakeButton">Try the demo!</button>
      </div>
      <div class="imgFotter">
        <img src="../../../assets/esrb.png" alt="">
      </div>
    </footer>
  </section>

  <section id="featured">
    <div class="content">
      <span id="title">Featured</span>
      <img src="../../../assets/pikminCabe.png" alt="">
      <div class="onlineStoreText">
        <p>Watch charming short movies, read delightful manga-style comic strips, and more!</p>
        <button class="shakeButton">Explore now</button>
      </div>

      <div class="juegosOferta">
        <div class="btnIzquierdo" (click)="moverSlide(0)" *ngIf="x > 0">
          <span>
          </span>
        </div>
        <div class="btnDerecho" (click)="moverSlide(1)">
          <span>></span>
        </div>
        <div class="cardsShow" *ngFor="let item of listaJuegos.slice(x,x+4)">
          <img [src]="item.image" alt="">

          <span id="itemDescription">{{item.description}}</span>
          <div class="text-with-bar">
            <div class="bar"></div>
            <span>{{item.console}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="featured">
    <div class="content">
      <span id="title">Online store</span>
      <img src="../../../assets/onlineStoreCab.png" alt="">
      <div class="onlineStoreText">
        <p>Shop games, exclusive Nintendo merchandise, and more! Plus, get free shipping on orders $50 and over.</p>
        <button class="shakeButton">Start shopping</button>
      </div>
    </div>
  </section>

   <section id="featured">
    <div class="content">
      <span id="title">Gaming systems</span>
      <img src="../../../assets/gamingsystemCab.png" alt="">
      <div class="onlineStoreText">
        <p>Find the perfect Nintendo Switch system for you.</p>
        <button class="shakeButton">Explore now</button>
      </div>
    </div>
  </section>

   <section id="news">
    <h1>News</h1>
    <div class="newInfo">
      <div class="cardInfo" *ngFor="let new of listaNews.slice(0,2)">
        <img [src]="new.image" alt="">
        <span>{{new.date}}</span>
        <span><strong>{{new.title}}</strong></span>
        <span id="newInfodescription">{{(new.description).slice(0, 100).concat('...')}}</span>
        <a href="">Read more</a>
      </div>
    </div>

    <div class="mininewInfo">
      <div class="minicardInfo" *ngFor="let new of listaNews.slice(2,6)">
        <img [src]="new.image" alt="">
        <span style="color: #666;font-weight: 100;">{{new.date}}</span>
        <span style="color: #444;font-weight: 600;">{{new.title}}</span>
        <a href="">Read more</a>
      </div>
    </div>
    <div class="shakeButtonNews">
      <button id="newArticlesNews" class="shakeButton">See all news articles</button>

    </div>
  </section>


   <section id="characters">
    <h1>Characters</h1>

    <div class="charactersContainer">
      <div class="charactersCard" *ngFor="let character of listaCharacters.slice(0, 4)">
        <div class="imagecontainer">
          <img class="background-image" [src]="character.background" alt="">
          <div class="frontCardCharacter">
            <img class="front-image" [src]="character.front" alt="">
          </div>
        </div>
        <div class="text">
          <span>{{character.name}}</span>
        </div>

      </div>
    </div>
  </section>

</div>
