<nav class="navbar">
  <div class="navbarContainer">
    <div class="leftDiv">
      <img src="../../../assets/logo.png" alt="">
    </div>
    <div class="centerDiv">
      <div class="buscador">
        <img class="svgImg" src="../../../assets/magnifying-glass-solid.svg" alt="">
        <input type="text" placeholder="Search">
        <div class="dropdown">
          <button class="dropbtn">All categories
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAaxJREFUSEuNVUFOwzAQHCNxREIJl9L8AB5RifIKyiuAX5RXUF5BkfoIeAJpD5AeOCLFKIkT79q7iXtpa693vTOzY4PhYwBY/zdc17ajEwYGdsjUHANSDrcxPJAu+R0aY2Ci3KPFhAJ6z+3N4wJRSy4p/XJXp1AIdYZMDiKKnfstdDPdYJhH5EDHOpkz15LCgVZAa4nDSOFSOBhQk5XLMijqVjvoN4ZzXNceImFdnAmB/i9kawM8dPMxMSRuuwbWBaonnq65hPIpkW9g7B0fbk1ddjPH8b67C48hkxwf3iPbWuBmrAcLbOeobiNaCO8cdQJLibML4HRngCvmUj7mo8bfosDvDzcIrw3mRRLkB5xf1zjZAcgD0/o2wGKG6lODubUKgfiI2APyZQ37Rg22tlgWqN4lIbBuNHzD9RL5CrAvXRG7usTxlU61Jrhu0FIs1QB7mz024TNUz7Ec+zcgeA9SpJ7iP+MkuwzefrkjUr+YdtOwN8oce+h6YaZNsqykqQdHMEkZCv3hYHPgb6FBRCtqqE9BRP0k4oYbQsvZGLu2G03BKuiSkGEUOg7XPyjt0SBA0+jlAAAAAElFTkSuQmCC" />
          </button>
          <div class="dropdown-content">
            <a href="">All categories</a>
            <a href="">Games</a>
            <a href="">Hardware</a>
            <a href="">Merchandising</a>
            <a href="">News and Events</a>
            <a href="">Support</a>
          </div>
        </div>
      </div>
    </div>
    <div class="rigthDiv">
      <a href=""><img src="../../../assets/circle-info-solid.svg" class="svgImg" alt=""> Support</a>
      <a href=""><img src="../../../assets/heart-solid.svg" class="svgImg" alt=""> Whish List</a>
      <a href=""><img src="../../../assets/cart-shopping-solid.svg" class="svgImg" alt=""> Cart</a>
      <a href=""><img src="../../../assets/user-solid.svg" class="svgImg" alt=""> Log in / Sign up</a>
      <a href="">usa</a>
    </div>

  </div>
  <nav class="sticky">
    <a href="">
      My nintendo store
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAaxJREFUSEuNVUFOwzAQHCNxREIJl9L8AB5RifIKyiuAX5RXUF5BkfoIeAJpD5AeOCLFKIkT79q7iXtpa693vTOzY4PhYwBY/zdc17ajEwYGdsjUHANSDrcxPJAu+R0aY2Ci3KPFhAJ6z+3N4wJRSy4p/XJXp1AIdYZMDiKKnfstdDPdYJhH5EDHOpkz15LCgVZAa4nDSOFSOBhQk5XLMijqVjvoN4ZzXNceImFdnAmB/i9kawM8dPMxMSRuuwbWBaonnq65hPIpkW9g7B0fbk1ddjPH8b67C48hkxwf3iPbWuBmrAcLbOeobiNaCO8cdQJLibML4HRngCvmUj7mo8bfosDvDzcIrw3mRRLkB5xf1zjZAcgD0/o2wGKG6lODubUKgfiI2APyZQ37Rg22tlgWqN4lIbBuNHzD9RL5CrAvXRG7usTxlU61Jrhu0FIs1QB7mz024TNUz7Ec+zcgeA9SpJ7iP+MkuwzefrkjUr+YdtOwN8oce+h6YaZNsqykqQdHMEkZCv3hYHPgb6FBRCtqqE9BRP0k4oYbQsvZGLu2G03BKuiSkGEUOg7XPyjt0SBA0+jlAAAAAElFTkSuQmCC" />
    </a>
    <a href="">
      Games
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAaxJREFUSEuNVUFOwzAQHCNxREIJl9L8AB5RifIKyiuAX5RXUF5BkfoIeAJpD5AeOCLFKIkT79q7iXtpa693vTOzY4PhYwBY/zdc17ajEwYGdsjUHANSDrcxPJAu+R0aY2Ci3KPFhAJ6z+3N4wJRSy4p/XJXp1AIdYZMDiKKnfstdDPdYJhH5EDHOpkz15LCgVZAa4nDSOFSOBhQk5XLMijqVjvoN4ZzXNceImFdnAmB/i9kawM8dPMxMSRuuwbWBaonnq65hPIpkW9g7B0fbk1ddjPH8b67C48hkxwf3iPbWuBmrAcLbOeobiNaCO8cdQJLibML4HRngCvmUj7mo8bfosDvDzcIrw3mRRLkB5xf1zjZAcgD0/o2wGKG6lODubUKgfiI2APyZQ37Rg22tlgWqN4lIbBuNHzD9RL5CrAvXRG7usTxlU61Jrhu0FIs1QB7mz024TNUz7Ec+zcgeA9SpJ7iP+MkuwzefrkjUr+YdtOwN8oce+h6YaZNsqykqQdHMEkZCv3hYHPgb6FBRCtqqE9BRP0k4oYbQsvZGLu2G03BKuiSkGEUOg7XPyjt0SBA0+jlAAAAAElFTkSuQmCC" />
    </a>
    <a href="">
      Nintendo Switch
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAaxJREFUSEuNVUFOwzAQHCNxREIJl9L8AB5RifIKyiuAX5RXUF5BkfoIeAJpD5AeOCLFKIkT79q7iXtpa693vTOzY4PhYwBY/zdc17ajEwYGdsjUHANSDrcxPJAu+R0aY2Ci3KPFhAJ6z+3N4wJRSy4p/XJXp1AIdYZMDiKKnfstdDPdYJhH5EDHOpkz15LCgVZAa4nDSOFSOBhQk5XLMijqVjvoN4ZzXNceImFdnAmB/i9kawM8dPMxMSRuuwbWBaonnq65hPIpkW9g7B0fbk1ddjPH8b67C48hkxwf3iPbWuBmrAcLbOeobiNaCO8cdQJLibML4HRngCvmUj7mo8bfosDvDzcIrw3mRRLkB5xf1zjZAcgD0/o2wGKG6lODubUKgfiI2APyZQ37Rg22tlgWqN4lIbBuNHzD9RL5CrAvXRG7usTxlU61Jrhu0FIs1QB7mz024TNUz7Ec+zcgeA9SpJ7iP+MkuwzefrkjUr+YdtOwN8oce+h6YaZNsqykqQdHMEkZCv3hYHPgb6FBRCtqqE9BRP0k4oYbQsvZGLu2G03BKuiSkGEUOg7XPyjt0SBA0+jlAAAAAElFTkSuQmCC" />
    </a>

    <a href="">
      News & Events
    </a>
    <a href="">
      Play Nintendo
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAaxJREFUSEuNVUFOwzAQHCNxREIJl9L8AB5RifIKyiuAX5RXUF5BkfoIeAJpD5AeOCLFKIkT79q7iXtpa693vTOzY4PhYwBY/zdc17ajEwYGdsjUHANSDrcxPJAu+R0aY2Ci3KPFhAJ6z+3N4wJRSy4p/XJXp1AIdYZMDiKKnfstdDPdYJhH5EDHOpkz15LCgVZAa4nDSOFSOBhQk5XLMijqVjvoN4ZzXNceImFdnAmB/i9kawM8dPMxMSRuuwbWBaonnq65hPIpkW9g7B0fbk1ddjPH8b67C48hkxwf3iPbWuBmrAcLbOeobiNaCO8cdQJLibML4HRngCvmUj7mo8bfosDvDzcIrw3mRRLkB5xf1zjZAcgD0/o2wGKG6lODubUKgfiI2APyZQ37Rg22tlgWqN4lIbBuNHzD9RL5CrAvXRG7usTxlU61Jrhu0FIs1QB7mz024TNUz7Ec+zcgeA9SpJ7iP+MkuwzefrkjUr+YdtOwN8oce+h6YaZNsqykqQdHMEkZCv3hYHPgb6FBRCtqqE9BRP0k4oYbQsvZGLu2G03BKuiSkGEUOg7XPyjt0SBA0+jlAAAAAElFTkSuQmCC" />
    </a>
  </nav>
</nav>
